header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    padding-left: 20%;
    padding-right: 10%;
}

.logo {
    display: inline-block;
    aspect-ratio: 390/180;
    height: 3.2em;
}

.header-interactive {
    display: flex;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin: 0 1em;
}

nav a.active {
    /* wavy dotted underline that is bold on the current active link */
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #1c6937;
}

header button {
    background-color: #1db954;
    color: #fff;
}
