.in-these-component h2, .not-in-these-component h2 {
    margin-bottom: 1rem;
}

.in-these-component ul, .not-in-these-component ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.playlist-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0;
}

.playlist-item-wrapper > span {
    margin-right: 0.5rem;
}
