.tracks-component {
    /* display: flex;
    flex-direction: column;
    justify-content: ; */
    /* align-items: center; */
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
}
